.reveal ul {
  list-style: none;
  padding-left: 1em;
}

.reveal ul li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}

.reveal pre code {
  max-height: 480px;
}

.whoami .hljs.haml {
  color: #dcdcdc;
  background-color: #3f3f3f;
}

.whoami .hljs-symbol {
  color: #dca3a3;
}